@font-face {
  font-family: gotham-light;
  src: url('../vendor/fonts/Gotham-Light.ttf');
}

@font-face {
  font-family: mila-script-sans-regular;
  src: url('../vendor/fonts/Mila Script Sans Regular.ttf');
}
