.base{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #856C59 1%, transparent 60%), url('../images/home-hero.jpg') no-repeat;
  background-size: cover;
}

.story{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #CFC7CA 1%, transparent 60%), url('../images/story-hero.jpg') no-repeat;
  background-size: cover;
}

.details{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #CFC7CA 1%, transparent 60%), url('../images/details-hero.jpg') no-repeat;
  background-size: cover;
}

.contact{
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #CFC7CA 1%, transparent 60%), url('../images/contact-hero.jpg') no-repeat;
  background-size: cover;
}

.gsl-logo{
  width: 100%;
  height: auto;
  position: relative;
  top: 15px;
}

nav{
  position: relative;
  width: 100%;
  margin: 5px auto;
}

nav > ul{
  list-style-type: none;
  text-align: center;
}

nav > ul > li{
  display: inline-block;
  font-family: mila-script-sans-regular;
  text-transform: uppercase;
  color: #F0F0F0;
  font-size: 18px;
  padding: 15px 30px;
}

h1{
  font-family: mila-script-pro;

}

a{
  color: white;
  text-decoration: none;
}

.active{
  color: #F6DBDB !important;
  text-decoration: underline;
}
