a {
  text-decoration: none;
}
.gsl-logo{
  width: 100%;
  height: auto;
  position: relative;
  top: 15px;
}

nav{
  position: relative;
  width: 100%;
  margin: 5px auto;
}

nav > ul{
  list-style-type: none;
  text-align: center;
}

nav > ul > li{
  display: inline-block;
  font-family: mila-script-sans-regular;
  text-transform: uppercase;
  color: #F0F0F0;
  font-size: 18px;
  padding: 15px 30px;
}

h1{
  font-family: mila-script-pro;

}
